services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_API_VERSION=1.44
      - WATCHTOWER_POLL_INTERVAL=3600  # optional: check every hour
      - WATCHTOWER_CLEANUP=true       # optional: remove old images
      - WATCHTOWER_INCLUDE_RESTARTING=true
